h1{
	text-align: center;
}

body{
	background-color: grey;
}

.message{
	border: solid 10px;
	height: 500px;

}

form{
	display: inline-block;
	width: 250px;
	margin: 20px;
	padding: 10px;

}





.me{
	display: inline-block;
	display: inline-block;
	width: 250px;
	height: 200px;
	font-size: 13px;
}


.gen{
	display: inline-block;
}