body{
		background: grey;
	}



	.nav_bar{
		border: solid 10px;
	}

	.nav_bar li{ 
		padding: 6px;
		display: inline-block ;
		font-size: 25px;
		margin: 20px;
	}

	.nav_bar li:hover{
		background-color: blue;


	}
	#logo{
		margin: 0px;
		float: right;

	}


	.slides{
		background: white;
		border: solid 10px;
		margin:120px;
		height:80%;
		width:80%;
	}

	.one{
		display: inline-block;
		border: solid 10px;
		width: 95%;
		height: 300px;
		margin: 10px;
		background-image: url("../images/steam.jpg");
		background-size: 100% 100%;
	}

	.trend{
		color: gray;
		font-size: 20px;
	}


	.two{
		display: inline-block;
		border: solid 10px;
		width: 45.5%;
		height: 400px;
		margin: 10px;
	}


	.three{
		display: inline-block;
		border: solid 10px;
		width: 45.5%;
		height: 400px;
		margin: 10px;
		background-image:url(../images/bestphoto.jpg);
		background-size:100% 100% ;
	}


	.aboutme {
		padding: 10px;
		border: solid 10px;
		margin: 10px;
		height: 400px;
	}

	.aboutme h1 {
		text-align: center;
	}
	.info {
		display: inline-block; 
		margin: 10px;
		border: solid 10px;
		width: 300px;
		text-align: center;
		height: 250px;
		vertical-align: text-bottom;
	}

	.info p {
		margin: 0px;
		font-size: 22px;
	}



	.info :hover{
		color: blue;
		margin: 0px;
	}

	.aboutme img {
		height: 250px;
		width: auto;
		display: inline-block; 
		border:solid 10px;
		background-size: 100% 100% ;
		margin: 10px;
	}

