<!Doctype>



{% extends "layout.html" %}


{%block head%}

<link rel="stylesheet" type="text/css" href="../static/stylesheets/contact.css">

{%endblock%}






{%block body%}

<div class="message">
	<form action="{{ url_for('form_res') }}" method="post" >
		First Name:<br>
		<input type="text" name="firstname"><br> 
		Last Name:<br>
		<input type="text" name="lastname"><br>
		Message:<br>
		<textarea class="me" type="text" name="message"> </textarea><br>

		<div class="gen">
			<input  type="radio" name="gender" value="male" checked> Male<br>
			<input  type="radio" name="gender" value="female"> Female<br>
			<input  type="radio" name="gender" value="other"> Other<br>
		</div>
		
		<input type="submit" name="login">
	</form>
	


</div>
{%endblock%}