<!DOCTYPE html>

{% extends "layout.html" %}


{% block body %}

<div class="slides">




	<div class="one">   
		<h1 class="trend1"> &nbsp; &nbsp; Trending </h1>
		<p class="trend"> &nbsp; Steam Store will introduce a new system to improve game discovery </p>
		<p class="trend"> &nbsp; Steam has banned 40000 players from playing online in just one day </p>
	</div>


	<div class="two">
		<h1> &nbsp; &nbsp;  games rating </h1>
	</div>


	<div class="three">
		<h1> &nbsp; &nbsp; photo of the week </h1>	
	
	</div>





	{{name}}


	{%endblock%}






</body>










</html>